h1, ul {text-align: center;}

ul {list-style-position: inside;}

img {height: auto;
    width: 500px;
    margin: auto;
    display: block;
    
}

body {background-color: green;}


a:visited {color: yellowgreen;}

a:hover {color: orange;}

* {color: white;}

